/* @media (max-width: 576px) { */

  .foot_wrapper {
    width: 100%;

    padding: 5px;
    padding-bottom: 285px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    background-color: #EE4380;
  }

  .foot_title {
    padding: 12px;

    font-family: Happy Monkey;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;

    color: white;
  }

  .foot_underline {
    width: 77%x;
    height: 4px;
    top: 500px;

    background-color: white;
  }

  .foot_text > p {
    padding: 12px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;

    color: #FFFFFF;
  }

  .profiles_images {
    margin-top: 180px;
    width: 80%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .first_image {
    position: absolute;
    left: 8%;

    z-index: 3;
  } 

  .second_image {
    position: absolute;
    margin-top: 6%;
    left: 25%;

    z-index: 2;

  }

  .third_image {
    position: absolute;
    margin-top: 12%;
    left: 40%;
    
    z-index: 1;
  }

