/* @media (max-width: 576px) { */

  .nav_wrapper {
    width: 100%;
    height: 50px;
    
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  }

  .nav_logo {
    float: left;
    margin: 10px;
    width: 45px;
    height: 30px;

    font-family: Happy Monkey;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;

    display: flex;
    align-items: center;

    background: #EE4380;
    color: white;
    border-radius: 5px;
  }

  .nav_logo:active {
    background-color: palevioletred; 
  }

  .nav_logo > p {
    margin-left: 5px;
  }

  .login_button {
    float: right;
    /* padding-left: 12px; */
    margin: 10px;
    width: 60px;
    height: 30px;
    border-radius: 5px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 19px;

    display: flex;
    align-items: center;
    text-align: center;
  }

  .login_button:active {
    color: whitesmoke;
  }

  .nav_underline {
    position: absolute;
    width: 60px;
    height: 4px;
    right:20px;
    top: 46px;

    background: #EF6898;
  }

 
