a {
  text-decoration: none;
  color: white;
}

main {
  background-color: whitesmoke;
}

.main_wrapper {
  width: 100%;
  height: 590px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

}

.main_title {
  width: 100%;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 31px;
  text-align: center;
  color: #363636;
}

.main_title h3 {
  margin: 0px;
}

.main_subtitle {
  width: 100%;
}

.main_subtitle > h6 {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #8F8F8F;
  margin: 0px;
}

.main_button {
  width: 140px;
  height: 40px;
  background-color: #EE4380;
  color: white;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
