/* @media (max-width: 576px) { */

  .main_wrapper {
    width: 100%;
    height: 600px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  img.three_coffees {
    padding: 15px;
    
  }
  
  .main_title {
    width: 100%;
    padding: 0px;

    font-family: Happy Monkey;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    text-align: center;

    color: #363636;
  }

  .main_subtitle {
    width: 100%;
  
  }

  .main_subtitle > h6 {
    padding: 10px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    text-align: center;

    color: #8F8F8F;
  }

  .main_button {
    width: 120px;
    
    display: flex;
    align-items: center;

    background-color: #EE4380;
    padding: 5px;
    color: white;
    border-radius: 5px;
  }

  .main_button > div {
    margin-left: 8px;

    font-size: 16px;
  }

  .main_button:active {
    background-color: palevioletred; 
  }
