.nav_wrapper {
  width: 100%;
  height: 50px;
  background: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}

.nav_logo {
  float: left;
  margin: 10px;
  width: 40px;
  height: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #EE4380;
  color: white;
  border-radius: 5px;
}

.login_button {
  float: right;
  margin: 10px;
  width: 60px;
  height: 30px;
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.nav_underline {
  position: absolute;
  width: 60px;
  height: 4px;
  /* right: 21px; */
  top: 46px;
  background: #EF6898;
}