@media (max-width: 576px) {

  .profile_form_wrapper {
    position: absolute;
    top: 50px;

    background-color: whitesmoke;
  }

  h1 {
    padding: 10%;
  }

  .profile_full_name,.profile_email, .profile_bio,
  .profile_coffe_price, 
  .profile_multiplier, .profile_avatar {
    margin-bottom: 20px;
    padding-left: 10%;
  }

  input:focus {
    color: white;
    background-color: #EE4380;
  }

  input.profile_bio_input {
    transition: width 1s ease-in-out;
  }

  input.profile_bio_input:focus {
    width: 220px;
    height: 80px;
  }

  .currency_datalist {
    position: absolute;

    background-color: #EE4380;
    color: white;
  }

  .profile_currency_symbol {
    margin-bottom: 20px;
    padding-left: 10%;

  }

  input.profile_currency_symbol_input {
    width: 30px;
    margin-left: -15%;
  }

  .profile_multiplier_numbers {
    padding: 10px;
  }

  .profile_multiplier_numbers > button {
    display: inline-block;
    width: 25px;
    margin-left: 30px;

    background-color: rgba(0, 0, 0, 0);
    border-color: grey;
    color: black;
    border-radius: 100%;
  }

  button.number_2, .number_4, .number_6, .number_8:active {
    border-color: white;
    background-color: white;
  }

}