/* @media (max-width: 576px) { */

  .login_form_wrapper {
    padding-top: 10%; 
    padding-bottom: 100%; 

    background-color: whitesmoke;
  }

  .login_form_wrapper > h1 {
    padding: 10%;
  }

  label {
    padding: 10%;
    padding-right: 50px;
  }

  input {
    margin-left: 11%;
    margin-bottom: 14%;
  }

  input:focus {
    color: white;
    background-color: #EE4380;
  }

  button {
    margin-left: 50%;
    width: 25%;

    font-size: 15px;

    border-color: #EE4380;
    color: white;
    background-color: #EE4380;
  }

  button:active {
    background-color: palevioletred; 
  }
